@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --color-pink: #fbdbd7;
  --color-navy: #001a9d;
  --color-yellow: #fffa0d;
  --font-pliant: "Pliant", sans-serif;
  --font-nunito: "Nunito Sans", sans-serif;
}